@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@700&display=swap");
:root {
  --bg-glass: rgba(255, 255, 255, 0.15);
}

*::-webkit-scrollbar {
  display: none;
}

*::-webkit-scrollbar-thumb {
  display: none;
}

@font-face {
  font-family: "clockicons";
  src: url("~/assets/fonts/clockicons.ttf");
}

body[status="focus"] {
  --status-color: #ba4949;
}

body[status="short-break"] {
  --status-color: #61764b;
}

body[status="long-break"] {
  --status-color: #2f5d62;
}

body {
  direction: rtl;
  font-family: "Vazirmatn", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

main.pmdr {
  background-color: var(--status-color);
  transition: background-color 0.75s;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

section.footer {
  background-color: var(--status-color);
  transition: background-color 0.75s;
}

button.timer-action {
  color: var(--status-color);
  transition: color 0.5s;
}

.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.15);
}

.hashtag {
  color: var(--status-color);
}

.expand-animation {
  animation: expand 0.65s;
}

.fade-in-animation {
  animation: fade-in 0.85s;
}

@keyframes expand {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
